/bin export-ignore
/docs export-ignore
/tests export-ignore
/.editorconfig export-ignore
/.php-cs-fixer.dist.php export-ignore
/composer-dependency-analyser.php export-ignore
/phpstan.neon export-ignore
/phpstan.dist.neon export-ignore
/phpunit.xml export-ignore
/.git* export-ignore
