services:
	-
		class: Sensiolabs\GotenbergBundle\Tests\PHPStanRules\AlwaysUsedMethodRule
		tags:
			- phpstan.methods.alwaysUsedMethodExtension
parameters:
	phpVersion: 80100
	level: 8
	paths:
		- 'config'
		- 'src'
		- 'tests'
	ignoreErrors:
		-
			message: "#^Cannot use array destructuring on array\\<int, string\\|null\\>\\|null\\.$#"
			count: 1
			path: src/DataCollector/GotenbergDataCollector.php
		-
			message: "#^Method Sensiolabs\\\\GotenbergBundle\\\\Tests\\\\Kernel\\:\\:configureContainer\\(\\) is unused\\.$#"
			count: 1
			path: tests/Kernel.php
		-
			message: "#^ Call to an undefined method Symfony\\\\Component\\\\Config\\\\Definition\\\\Builder\\\\ArrayNodeDefinition|Symfony\\\\Component\\\\Config\\\\Definition\\\\Builder\\\\VariableNodeDefinition::append\\(\\)\\.$#"
			count: 1
			path: src/NodeBuilder/ArrayNodeBuilder.php
		-
		    message: '#Class Sensiolabs\\GotenbergBundle\\Builder\\Pdf|Screenshot\\.* has an uninitialized readonly property \$dependencies#'
		    count: 11
		    path: src/Builder
