{% extends '@WebProfiler/Profiler/layout.html.twig' %}

{% block toolbar %}
    {% if collector.requestCount %}
        {% set icon %}
            <span class="icon">{{ source('@SensiolabsGotenberg/Icon/gotenberg_logo.png.html') }}</span>
            {% set status_color = '' %}
            <span class="sf-toolbar-value"> 15 PDFs</span>
        {% endset %}

        {% set text %}
            <div class="sf-toolbar-info-piece">
                <strong>PDFs Generated</strong>
                <span>15</span>
            </div>
        {% endset %}

        {{ include('@WebProfiler/Profiler/toolbar_item.html.twig', { link: profiler_url, status: status_color }) }}
    {% endif %}
{% endblock %}

{% block menu %}
    <span class="label">
        <span class="icon">{{ source('@SensiolabsGotenberg/Icon/gotenberg_logo.png.html') }}</span>
        <strong>Gotenberg</strong>
        <span class="count">15</span>
    </span>
{% endblock %}

{% block panel %}
    <h2>Gotenberg</h2>
    <section class="metrics">
        <div class="metric-group">
            <div class="metric">
                <span class="value">15</span>
                <span class="label">Files generated</span>
            </div>
            <div class="metric">
                <span class="value">12 000 <span class="unit">ms</span></span>
                <span class="label">Total time</span>
            </div>
            <div class="metric">
                <span class="value">40 <span class="unit">MiB</span></span>
                <span class="label">Total memory</span>
            </div>
            <div class="metric">
                <span class="value">150 <span class="unit">MiB</span></span>
                <span class="label">Total size</span>
            </div>
        </div>
    </section>
    <h2>Files</h2>
    <details>
        <summary>
            <span class="icon">{{ source('@SensiolabsGotenberg/Icon/file-type-pdf.svg') }}</span>
            MonFichier.pdf
        </summary>
        <p>
            <div class="metrics">
                <div class="metric-group">
                    <div class="metric">
                        <span class="value">12 000 <span class="unit">ms</span></span>
                        <span class="label">Generation time</span>
                    </div>
                    <div class="metric">
                        <span class="value">50 <span class="unit">MiB</span></span>
                        <span class="label">Memory</span>
                    </div>
                    <div class="metric">
                        <span class="value">150 <span class="unit">Gb</span></span>
                        <span class="label">Size</span>
                    </div>
                </div>
            </div>
            <div>
                Service : some_service.id (Some\Class\Fqcn)
                TODO : show trace (what were the caller)
                TODO : show context (passed options, defaults options, resolved options)
            </div>
        </p>
    </details>
{% endblock %}
